.container{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .7rem 2rem;
    position: fixed;
    top: 0;
    /* margin-bottom: 2rem; */
    background-color: white;
}

.logoutButton, .backButton{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: .8rem;
    min-width: max-content;
    border-radius: 6px;
    padding: .4rem;
    gap: .5rem;
    background-color: var(--active-button);
}

.logoutButton:hover, .backButton:hover{
    transition: all .15s ease;
    color: white;
    transform: scale(1.1);
    background-color: var(--hovered-button);
}