:root {
    --active-button: #ececec;
    --hovered-button: #2563eb;
    --container-background-error:  rgb(255, 244, 244);
    --main-bg-gray: #f6f6f6;
  }

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  width: 100vw;
  background-color: var(--main-bg-gray);  
}
