.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    padding: 1rem;
    border-radius: 6px;
    margin: 0 auto;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 2rem;
    margin-bottom: 2rem;
  }
  
  .list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .5rem;
  }
  
  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .shop {
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--main-bg-gray);
    width: 100%;
    gap: 1rem;
    border-radius: 5px;
    padding: .3rem .4rem .3rem .4rem;
    transition: all .2s ease;
  }
  
  .shop:hover {
    background-color: var(--active-button);
  }
  
  .shopInfo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
  }

  .shopInfo p{
    font-size: .9rem;
  }
  
  .addButton,
  .deleteButton {
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    padding: .3rem .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--active-button);
    gap: .5rem;
  }
  
  .addButton:hover,
  .deleteButton:hover {
    transition: all .15s ease;
    transform: scale(1.1);
    color: white;
    background-color: var(--hovered-button);
  }
  
  @media (max-width: 768px) {
    .container {
      width: 80%;
    }

    .list{
        width: 100%;
    }

    .header {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
  
    .shop {
   
      flex-direction: column;
      align-items: stretch;
      justify-content: center;
    }
  
    .shopInfo {
      flex-direction: column;
      align-items: stretch;
    }

    .shopInfo p{
        font-size: .8rem;
        text-align: center;
      }
    
    .shopActions {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }