.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 2rem;
    margin-bottom: 1rem;
}

.shop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 100%; */
    gap: 1rem;
    margin-bottom: 1rem;
}

.shopInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 100%; */
    gap: 1rem;
    margin-bottom: 1rem;
}