.container{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: .2rem; 
}
.errorList{
    display: flex;
    align-items: center;
    justify-content: left;
    list-style-type: none;
    color: red;
}

.errorList li{
    display: flex;
    align-items:center;
    justify-content:left;
    line-height: .9rem;
    font-size: .9rem;
}