.container{
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   top: .9rem;
   padding: .3rem .5rem;
   gap: .2rem; 
   background-color: var(--container-background-error);
   border-radius: 6px;
}
.errorList{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.errorItem{
    display: block;
    align-items:center;
    justify-content:center;
    line-height: .9rem;
    font-size: .9rem;
    color: red;
}